/*
 * Globals
 */

body {
  font-family: "Helvetica Neue", "Helvetica", Georgia, "Times New Roman", Times, serif;
  color: #444;
  background-color:#213f52;
  font-size: 16px;
  line-height: 1.5em;
}

.container-fluid {
  margin:0;
}

.clear {
  clear: both;
}

/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .container {
    width: 1000x;
  }
}

.site-header {
  max-width:1100px;
  margin:30px auto;
  padding:30px 0 30px 0;
}

/*
 * Main Typography
 */

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 1em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

a {
  color:#2175bc;
  transition: all 0.2s;
}

a:hover, a:focus {
  text-decoration: none;
}

blockquote {
  font-size:15px;
  border-left: 3px solid rgba(0,0,0,0.1);
  padding: 0px 20px;
}

.slash {
  font-size:14px;
  color:rgba(0,0,0,0.2);
}

/*
 * Page Borders
 */

body {
  border-top:15px solid #f79e71;
}

@media (min-width: 768px) {

  html:before,html:after,body:before,body:after{
      content:"";
      background:#f79e71;
      position:fixed;
      display:block;
      z-index:5;
  }

  html:before{
    height:15px;
    left:0;
    right:0;
    top:0;
  }
  html:after{
    width:15px;
    top:0;
    right:0;
    bottom:0;
  }
  body:before{
    height:15px;
    right:0;
    bottom:0;
    left:0;
  }
  body:after{
    width:15px;
    top:0;
    bottom:0;
    left:0;
  }
  body {border:none;}
}

/*
 * Notes Styles
 */

.notecontainer {
  margin:20px 0 0 0;
  padding-bottom:30px;
}

.notecontainer:after {
  content: "";
  display: table;
  clear: both;
}

.notes {
  list-style: none;
  margin:10px 0 0 0;
  padding:0;
}

.notes li {
  margin:0 0 10px 0;
}

.notes li a img {
  margin:0 10px 0 0;
}

.avatar_frame {
    display: inline-block;
    max-width: 100%;
    position: relative;
    text-align: center
}

.avatar_frame img {
    vertical-align: top
}

.avatar_frame:before {
    background: #ccc;
    content: "";
    left: 0;
    top: 0;
    width:35px;
    height:35px;
}

.avatar_frame:after {
    display: inline-block;
    font-family: "icomoon";
    line-height: 1em;
    text-align: center;
    vertical-align: baseline;
    width: 1em;
    height: 1em;
    content: "\e601";
    font-size: 14px;
    left: calc(50% - 5px);
    margin: -5px 0 0 -0.5em;
    top: 50%;
}

.reblog .avatar_frame:after {
    content: "\e602"
}

.notes blockquote, .notes .action, .notes .clear {
    display: none
}

.notes>li {
    float: left
}

.avatar_frame, .notes>li {
    height: 30px
}

.avatar_frame:before, .avatar_frame img {
    -webkit-border-radius: 50%;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 50%;
    -moz-background-clip: padding;
    border-radius: 50%;
    background-clip: padding-box;
    max-width:35px;
}

.avatar_frame:before, .avatar_frame img {
    -webkit-border-radius: 50%;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 50%;
    -moz-background-clip: padding;
    border-radius: 50%;
    background-clip: padding-box;
    max-width:35px;
}

.avatar_frame:before, .avatar_frame:after {
    position: absolute;
    -webkit-transition: opacity .2s;
    -moz-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0
}

.avatar_frame:hover:before, .avatar_frame:hover:after {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1
}

.more_notes_link {
  display:block;
  font-size:0.8em;
  border-radius: 3px;
  background:#fff;
  border:1px solid rgba(0,0,0,0.2);
  margin:5px 0px 10px 0;
  padding:4px 6px 4px 6px;
}

/*
 * Widget Styles
 */

#text-widget, #twitter-block, #following-block, #likes-block, #group-block {
  margin:20px 0px 30px 0px;
  border-top:1px solid #eee;
  padding:20px 0 0 0;
}

@media (max-width: 768px) {
  #twitter-block, #following-block, #likes-block, #group-block {
    display:none;
  }
}

/*
 * Following, Group and Likes Styles
 */

.following {
  list-style: none;
  margin:10px 0 0 0;
  padding:0;
}

.following li {
  margin:0 0 10px 0;
  font-size:0.9em;
}

.following li img {
  margin:-5px 10px 0 0;
}

.following li a {
  margin:2px 0 0 0;
}

#likes {
  list-style:none;
  margin:0;
  padding:0;
  font-size: 14px;
}

#likes li {
  font-size: 0.9em;
  opacity:1;
  display:inline-block;
  width:25%;
  padding:15px;
  float:center;
  background:rgba(255,255,255,0.8);
  border-radius:3px;
  margin:0 1% 20px 1%;
  min-width: 300px;
}

#group-block img {
    width: 100px;
    margin: 0 10px 10px 0;
}

/*
 * Text Widget Styles
 */

#text-widget p {
  max-width: 650px;
  margin: 0 auto;
}

#hirebutton {
  display: block;
  margin:0 0 30px 0;
}

#hirebutton a {
  background:#ddd;
  color: #222;
  margin:0px 0 30px 0;
  padding:10px 25px 10px 25px;
  font-weight: bold;
  font-size: 1em;
  border-radius: 2px;
}

#hirebutton a:hover {
  background:#eee;
}

/*
 * Twitter Styles
*/

#tweets {
  font-size: 0.9em;
  opacity:0.8;
}
.tweet {
  margin-bottom:1em;
}

/*
 * Dribbble Styles
 */

#dribbble {
  text-align:center;
}

#dribbble ul {
  list-style: none;
  padding: 0;
}

#dribbble ul li {
  display: inline;
  margin: 0;
  padding: 0;
}

#dribbble ul li img {
  width:22.6%;
  margin:0 1% 20px 1%;
  margin-bottom:10px;
  max-width: 200px;
}

#dribbble ul li img:hover {
  opacity:0.8;
}

/*
 * Instagram Styles
 */

#instagram-block, #dribbble-block {
  margin:30px 30px 0px 30px;
  border-top:1px solid #eee;
  padding:25px 0 0 0;
  max-width:1000px;
}

#instafeed a {
  display: inline;
  margin: 0;
  padding: 0;
}

#instafeed a img {
  width: 14.6%;
  margin: 0 1% 0px 1%;
  max-width:180px;
}

#instafeed a:hover img {
  opacity:0.8;
}

/* Navigation links */

#navigation {
  margin:0 0 30px 0;
}

#navigation a {
  margin:0 6px 10px 0px;
  display: inline-block;
  background:#222;
  padding:3px 8px 3px 8px;
  border-radius:2px;
  font-size: 0.9em;
  color: #fff;
  font-weight:bold;
}

#navigation a:hover {
  cursor: pointer;
  color: #fff;
  opacity: 1;
  background: #666;
}

.social-icons {
  font-size: 0.8em;
  margin:0 0 30px 0;
}

.social-icons a {
  margin:0 10px 0 0;
  border-radius:20px;
}

.tag-menu-enclosure {
  position:relative;
  display:inline-block;
}

.dropdown-menu {
  border:0;
  border-radius: 0;
  box-shadow:none;
  margin:0;
  padding:0;
}

.dropdown-menu li a {
  margin:0;
  padding:7px 7px;
  border:0;
  font-size:0.8em;
  font-weight:bold;
}

/*
 * Blog name and description
 */

.blog-title {
  font-size: 2.5em;
  font-weight: bold;
  margin:0px 0 20px 0;
  display:inline-block;
}
.blog-description {
  font-weight: bold;
  font-size:1.4em;
  line-height: 1.4em;
  margin:0px auto 30px auto;
}

@media (min-width: 1200px) {
  #sidebar-branding {
    margin-bottom: 60px;
  }
}

/*
 * Avatar or Logo Style
 */

#avatar img {
  width:100px;
  margin:0px auto 20px auto;
}

#avatar img.circle {
  border-radius: 64px;
}

#logo img {
  margin:0px auto 20px auto;
}

/*
 * Main Column and Sidebar Layout
 */

.blog-header {
  padding: 120px 0 50px 0;
  text-align: center;
  background-size: 100%;
  background-repeat: no-repeat;
  height:450px;
  background-size: cover;
}

.blog-header.with-description {
  padding: 80px 0 50px 0;
}

.blog-main {
  font-size: 15px;
  line-height: 1.5;
}

.blog-sidebar {
  padding:70px 30px 0 70px;
  max-width: 450px;
}

@media (max-width: 991px) {
  .blog-sidebar {
    max-width: 100%;
    text-align: center;
    padding:70px 40px 0 40px;
  }
  #footer {
    display:none;
  }
}

.sidebar-content {
  padding:30px;
}

#footer {
  font-size: 0.8em;
  position:fixed;
  bottom:40px;
}

#footer p {
  opacity: 0.5;
  margin:0;
}

@media (max-height: 1200px) {
  #footer {
    position:static;
    margin:50px 0px 30px 0px;
    border-top:1px solid #eee;
    padding:30px 0 0 0;
  }
}

.hide-header #slideshow, .hide-header #slideshow div, .hide-header #instagram-block, .hide-header #dribbble-block {
  display:none !important;
}

/* Slideshow */

#slideshow {
    text-align: center;
    background-size: 100%;
    background-repeat: no-repeat;
    padding:0;
    margin:60px 0 0 30px;
    width:calc(100% - 60px);
    max-width: 1000px;
    height:300px;
    position:relative;
}

#slideshow div {
  position:absolute;
  left:0;
  top:0;
  width:100%;
  max-width: 1000px;
  height:300px;
  z-index:1;
  background-color:white;
  background-size:cover;
  background-position: 50% 50%;
}

#slideshow div.active {
  z-index:3
}

/*
In-post copy and images
*/

.copy p {
  margin:15px 0 15px 0;
}

.copy img {
  max-width: 100%;
  height:auto !important;
}

.copy iframe {
  max-width: 100%;
  margin-bottom: 20px;
}

/* Tags and Meta Details */

.blog-posts.index .blog-post-content.photo .permalink {
  position:absolute;
  width:calc(100% - 40px);
  height:100px;
}

.blog-posts.index .blog-post-content.photo .overlay .date {
  display: none;
}

.permalink .tags, .permalink .source-link, .permalink .read_more_container a {
  text-transform:uppercase;
  font-weight:bold;
  display:inline-block;
  font-size:.8em;
  padding:10px;
  margin:0;
  border-left: 1px solid #eee;
}

.read_more_container a {
  border:0;
  padding:6px 10px 6px 10px;
  margin:20px 0 0px 0;
  display:inline-block;
}

.permalink .tags a {
  margin:0 5px 0 5px;
}

.post-meta {
  border-top:1px solid #eee;
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
  padding:0;
  margin:20px 0 0 0;
}

/* Search Box */

.search-overlay {
  display:none;
  position: fixed;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.9);
  z-index:1050;
  padding-top:25%;
  padding-left: calc((100%/2)-150px);
  text-align:center;
  font-size:1.3em;
}

.search-overlay-close {
  color:#ffffff;
}

.search-overlay-close:hover {
  cursor:pointer;
  opacity:0.7;
  color:#ffffff;
}

.form-control {
  -webkit-box-shadow:none;
  box-shadow: none;
  border-radius:3px;
  border: 0;
  background-color: rgba(255,255,255,0.3);
  margin:0 auto;
  color:#fff;
  transition:background-color 0.2s linear;
  width:300px;
  height:70px;
  font-size:1.3em;

}

.form-control:active, .form-control:focus {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 0;
  background-color: rgba(255,255,255,0.5);
  color:#fff;
}

.form-control::-webkit-input-placeholder {
  color:#fff;
}

::-webkit-input-placeholder::before { font-family: icomoon; content:'\e613'; opacity:0.3;  }
::-moz-placeholder::before  { font-family: icomoon; content:'\e613'; opacity:0.3;  } /* firefox 19+ */
:-ms-input-placeholder::before  { font-family: icomoon; content:'\e613'; opacity:0.3;  } /* ie */
input:-moz-placeholder::before  { font-family: icomoon; content:'\e613'; opacity:0.3;  }


/* Likes, Shares & Reblogs */

.like-reblog-buttons {
  margin:20px 0;
  width:102px;
  height:20px;
}
.blog-posts.index .blog-post-content.photo .like-reblog-buttons, .blog-posts.index .blog-post-content.link .like-reblog-buttons {
  margin:5px auto;
}
.share-button, .reblog-button, .permalink-button a {
  width:15px;
  height: 15px;
}
.like-button {
  max-width:15px;
  max-height: 15px;
}
.social-share-widget-enclosure, .like-button, .reblog-button, .permalink-button a {
  float:left;
  margin-right: 10px;
  line-height: 24px;
  font-size: 14px;
  color:#000 !important;
}
.share-button, .permalink-button a {
  margin-top:-1px;
}
.permalink-button a {
  font-size: 15px;
}
.like-button {
  transition:opacity 0.2s linear;
}
.like-button:hover, .share-button:hover {
  cursor: pointer;
}
.permalink-button a {
  color:#000;
}
.icon-share:hover:before, .permalink-button a:hover {
  cursor: pointer;
}

.icon-share:before, .icon-share:hover:before, .permalink-button .icon-search:before, .permalink-button .icon-search:hover:before {
  color:#fff;
}

.like-reblog-buttons.black .icon-share:before, .like-reblog-buttons.black .icon-share:hover:before, .like-reblog-buttons.black .permalink-button .icon-search:before, .like-reblog-buttons.black .permalink-button .icon-search:hover:before
 {
  color:#000;
}


/* Share Widget */

.social-share-widget-enclosure {
  position:relative;
  display:inline-block;
  margin:-2px 0 0 0;
  padding:0;
}

.social-share-widget {
  list-style:none;
  padding:6px 4px;
  width:172px;
  margin:0;
  height:42px;
  background:#333;
  border-radius: 2px;
  left:-75px;
  top:-45px;
  box-shadow: none;
  border:0;
}

.social-share-widget li {
  float:left;
}

.social-share-widget li a {
  height:auto;
  margin-right:2px;
  margin-left:2px;
  padding:2px 9px;
  background-color:rgba(255, 255, 255, 1);
  border:1px solid #dcdcdc;
  border-radius:2px;
  font-size:14px;
  text-align:center;
}

.social-share-widget [class^="icon-"],
.social-share-widget [class^="icon-"]:hover,
.social-share-widget [class*=" icon-"],
.social-share-widget [class*=" icon-"]:hover {
  color:#555;
  margin:0;
}

.social-link {
  display:none;
}

/* Pagination */

.pager, .daypager {
  text-align: center;
  margin:0 0 20px 0;
  padding:0px 30px 20px 30px;
  font-size:0.9em;
  list-style: none !important;
  max-width:1000px;
}
.pager > li > a, .daypager > li > a {
  width: 140px;
  border:0;
  text-align: center;
  background:rgba(0,0,0,0.05);
  border-radius:2px;
  margin:0 20px 0px 20px;
  padding:10px;
  text-transform:capitalize;
}
.pager > li > a:hover, .daypager > li > a:hover {
  background:rgba(0,0,0,0.04);
}
.pager > li > a span.icon-arrow-left, .pager > li > a span.icon-arrow-right, .daypager > li > a span.icon-arrow-left, .daypager > li > a span.icon-arrow-right {
  font-size: 0.9em;
  margin:0 5px 0 5px;
}

/*
 * Blog posts
 */

#content-wrapper {
  display: none;
}

.blog-posts {
  margin:30px 30px 50px 30px;
  padding:30px 0 0 0;
  max-width:1000px;
}

.blog-posts.index {
  border-top:1px solid #eee;
}

@media screen and (max-width:767px) {
  .blog-posts {
    margin:30px 10px 50px 10px;
  }
}

.blog-post {
  border:0;
  width:100%;
  max-width:1000px;
  margin:0 auto 20px auto;
}

.blog-posts.post-page .blog-post {
  margin:0 auto;
  padding:5px;
  background:#fff;
}

.blog-post-content {
  padding: 30px 30px 0 30px;
  position:relative;
}

.blog-posts.post-page .blog-post .blog-post-content {
  background: none !important;
}

.blog-posts.index .blog-post-content .overlay {
  padding: 1px 30px 1px 30px;
  background: rgba(0,0,0,0.03);
  margin: 20px -30px 0 -30px;
}

.blog-posts.index .blog-post-content.photo, .blog-posts.index .blog-post-content.link {
  padding: 0;
  border-bottom:0px;
}

.blog-posts.index .blog-post-content.photo .overlay, .blog-posts.index .blog-post-content.link .overlay {
  width:100%;
  height:70px;
  position:absolute;
  bottom:0px;
  left:0px;
  padding:20px;
  margin:0;
  background-color:rgba(255,255,255,0.75);
  color:#fff;
  visibility:hidden;
  opacity:0;
  text-align:center;
  transition:visibility 0s linear 0.1s,opacity 0.1s linear;
}

.blog-posts.index .blog-post-content.photo .copy {
  display:none;
}

.blog-posts.index .blog-post-content.photo img {
/*  -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -ms-transform:scale(1.1);
    -o-transform:scale(1.1);
    transform:scale(1.1);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;*/
    border:1px solid rgba(0,0,0,0.1);
}

.blog-posts.index .blog-post-content.photo:hover img {
/*  -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -ms-transform:scale(1);
    -o-transform:scale(1);
    transform:scale(1);*/
    border:1px solid rgba(0,0,0,0.2);
}

.blog-posts.index .blog-post-content.photo:hover .overlay, .blog-posts.index .blog-post-content.link:hover .overlay {
  visibility:visible;
  display:block !important;
  opacity:1;
  transition-delay:0s;
  cursor: pointer;
}

.blog-post h2 {
  font-size: 1.5em;
}

h2.blog-post-title {
  margin-top:0;
  margin-bottom: 0.5em;
  font-size: 1.8em;
}

.blog-posts.post-page .blog-post .caption {
  margin: 40px 0 20px 0;
}

.blog-posts.post-page .blog-post .permalink {
  border-bottom:1px solid #f0f0f0;
  padding:0 0 40px 0;
  margin:0 0 20px 0;
}

.blog-post-meta {
  margin-bottom: 20px;
  font-weight: bold;
}

.blog-post .media {
  text-align: center;
}

.blog-post .media img {
  width:100%;
}

.blog-posts.post-page .blog-post .media {
  margin-bottom: 20px;
}

.html_photoset, .photoset {
  max-width:100% !important;
}

.read_more_container a {
  border-radius: 2px;
  margin-top:5px;
}

#daypage, #searchresults {
  text-align: center;
  margin:30px 0 0 0;
  max-width:1000px;
  text-align:left;
  padding:50px 0 0 30px;
}


/* Photo Link Styles */

.blog-post-content.photo.photo-image .photo-lightbox,
.blog-post-content.photo.photo-image .photo-post,
.blog-post-content.photo.photo-lightbox .photo-image,
.blog-post-content.photo.photo-lightbox .photo-post,
.blog-post-content.photo.photo-post .photo-image,
.blog-post-content.photo.photo-post .photo-lightbox {
  display:none;
}

/*
 * Links
 */

.blog-post a.link-contents {
  background:rgba(255,255,255,0.5);
  padding:20px;
  border:1px solid rgba(0,0,0,0.1);
  display:block;
}

.blog-post a.link-contents:hover {
  border:1px solid rgba(0,0,0,0.2);
  background:rgba(255,255,255,0.3);
}

/*
 * Quotes and Questions
 */

.quote, .question {
  margin-bottom:0.5em;
}

.asker_container {
  margin-bottom:1em;
  padding-bottom:1em;
  border-bottom:1px solid rgba(0,0,0,0.1);
}

.blog-post-content .quote {
  font-size:1.5em;
  line-height: 1.5em;
}

.blog-post-content .quote p {
  display:inline;
}

div.lines {
  border:1px solid rgba(0,0,0,0.05);
  border-bottom: 0;
}

div.line.odd, div.line.even {
  padding:10px;
  border-bottom:1px solid rgba(0,0,0,0.05);
}

div.line.odd {
  background:rgba(255,255,255,0.5);
}

.chat strong {
  display:block;
  text-transform:uppercase;
  font-size:0.8em;
  margin-bottom:5px;
  opacity:0.3;
}

.blog-post-content.quote, .blog-post-content.answer  {
  margin:0;
}

.blog-post-content.quote a, .blog-post-content.answer a  {
  opacity:0.8;
}

/*
 * Audio and Video
 */

.audio_container {
  position: relative;
  padding-top: 100px;
  max-height: 100px;
  overflow: hidden;
  margin-bottom:1.5em;
}

.video_container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  overflow: hidden;
  margin-bottom:1.5em;
}

.audio_container iframe, .video_container iframe,
.audio_container object, .video_container object,
.audio_container embed, .video_container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*
 * Comments
 */

#comments-block {
  padding:30px;
}

.fb_iframe_widget,
.fb_iframe_widget span,
.fb_iframe_widget span iframe[style] {
  min-width: 100% !important;
  width: 100% !important;
}

/*
 * Hover Effects
 */

#avatar a:hover, .copy .read_more_container a:hover
 {
  opacity:0.8;
 }

a:hover, .copy a, .copy a:hover {
  text-decoration: underline;
}

body [class^="icon-"]:hover, #navigation a:hover, #hirebutton a:hover, .link-contents:hover, .copy .read_more_container a {
  text-decoration: none !important;
}

/*
 * Loading Spinner
 */

.spinner {
  width: 25px;
  height: 25px;
  position: relative;
  margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

/*
 * Infinite Scroll
 */

#infscr-loading {
  bottom:0px;
  position:absolute;
  width:100%;
  text-align: center;
  border-radius: 3px;
  background:none;
  border:none;
  height:35px;
  line-height:40px;
  margin: 0px auto;
}

 #infscr-loading .spinner {
    position: relative;
    margin: 20px auto;
  }

 #infscr-loading .spinner .double-bounce1, #infscr-loading .spinner .double-bounce2 {
  -webkit-animation-iteration-count: 2;
  animation-iteration-count: 2;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

/*
 * Lightbox Styles
 */

#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;-webkit-transform:translateZ(2px);-moz-transform:translateZ(2px);-o-transform:translateZ(2px);transform:translateZ(2px);}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}

#cboxOverlay{background:#000000;}
#colorbox{outline:0;}
#cboxContent{margin-top:32px; overflow:visible;}
#cboxError{padding:50px; border:1px solid #ccc;}
#cboxLoadedContent{background:#000000; padding:1px;}
#cboxLoadingGraphic{background:url(http://static.tumblr.com/hmqexaq/L8bnfqtq6/spinner.gif) no-repeat center center;}
#cboxLoadingOverlay{background:#000000;}
#cboxTitle{position:absolute; top:-22px; left:0; color:#ffffff; text-shadow:none;}
#cboxCurrent{position:absolute; top:-22px; right:205px; text-indent:-9999px;}

#cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {border:0; padding:0; margin:0; overflow:visible; width:auto; background:none; }

#cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {outline:0;}

#cboxSlideshow, #cboxPrevious, #cboxNext, #cboxClose{text-indent:-9999px; width:20px; height:20px; position:absolute; top:-20px; background:url(http://static.tumblr.com/hmqexaq/COOnfqum6/slideshow-icons.png) no-repeat 0 0;}
#cboxPrevious{background-position:0px 0px; left:25px;}
#cboxNext{background-position:-25px 0px; left:50px;}
#cboxClose{background-position:-50px 0px; left:0px;}
.cboxSlideshow_on #cboxPrevious, .cboxSlideshow_off #cboxPrevious{right:66px;}
.cboxSlideshow_on #cboxSlideshow{background-position:-75px -25px; right:44px;}
.cboxSlideshow_off #cboxSlideshow{background-position:-100px 0px; right:44px;}
